{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>{% block pagename %}Главная страница{% endblock %}</h1>
{% block menu %}
<ul class="menu">
    <li><a href="/platform/"><h2>Главная</h2></a></li>
    <li><a href="/platform/games/"><h2>Магазин</h2></a></li>
    <li><a href="/platform/cart/"><h2>Корзина</h2></a></li>
</ul>
{% endblock %}
{% block content %}
<!-- Контент -->
{% endblock %}
</body>
</html>
